#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.DivPrueba{
  justify-content: space-between;
  display: flex;
}

.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   }
